In [3]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

header = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:106.0) Gecko/20100101 Firefox/106.0',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,/;q=0.8',
    'Accept-Language': 'en-US,en;q=0.5',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Upgrade-Insecure-Requests': '1',
    'Sec-Fetch-Dest': 'document',
    'Sec-Fetch-Mode': 'navigate',
    'Sec-Fetch-Site': 'none',
    'Sec-Fetch-User': '?1',
}

brand = []
model = []
price = []
road_trip = []
fuel_type = []
location = []
engine = []
year = []

for i in range(2,14):
    urls = "https://droom.in/super-bikes?category=super+bike&selected_category=super+bike&location=hyderabad%2Cbangalore%2Cchennai%2Cmumbai&page="+str(i)
    web_page = requests.get(urls)
    web_page = requests.get(urls,headers=header)
    html_code = BeautifulSoup(web_page.text)
    details = html_code.find_all("h5",class_="w-[89%] text-base font-medium")
    
    for i in details:
        brand.append(i.text.split()[1])
    
    for i in details:
        model.append(i.text[5:])

    prices = html_code.find_all("h6",class_="font-semibold text-[#30343e]")
    for i in prices:
        price.append(i.text.split()[1])
    
    trips = html_code.find_all("span",class_="ps-2 text-xs font-thin capitalize text-[#30343e]")
    for i in trips:
        a = re.findall(r"\d+\,\d+",i.text)
        if len(a)>0:
            road_trip.append(a[0])
        else:
            road_trip.append(np.nan)
            
    fuels = html_code.find_all("span",class_="ps-2 text-xs font-thin capitalize text-[#30343e]")
    for i in fuels:
        a = re.findall(r"petrol",i.text)
        if len(a)>0:
            fuel_type.append(a[0])
    
    locations = html_code.find_all("span",class_="ps-2 text-xs font-thin capitalize text-[#30343e]")
    for i in locations:
        a = re.findall(r"hyderabad|bangalore|mumbai",i.text)
        if len(a)>0:
            location.append(a[0])
    
    for i in details:
        a = re.findall(r"\s\d+\sGS|\s\d+cc|\s\d+\sABS|\s\d+\sR|\s\d+i|\s\d..",i.text)
        if len(a)>0:
            engine.append(a[0])
        else:
            engine.append(np.nan)
    
    for i in details:
        year.append(i.text.split()[0])

dic = {"Brand":brand,
        "Model":model,
        "Price":price,
        "Location":location,
        "Engine":engine,
        "Model Year":year,
        "Fuel Type":fuel_type
      }

final_dataset = pd.DataFrame(dic)

final_dataset.to_csv("Final_Dataset_CSV.csv")

In [4]:
final_dataset

,Brand,Model,Price,Location,Engine,Model Year,Fuel Type
0,Royal,Royal Enfield Continental GT 650cc,"2,95,000",mumbai,650cc,2019,petrol
1,Harley-Davidson,Harley-Davidson Street 750,"3,20,000",hyderabad,750,2015,petrol
2,Royal,Royal Enfield Interceptor 650cc,"3,10,000",hyderabad,650cc,2022,petrol
3,BMW,BMW G310 RR Standard,"3,10,000",hyderabad,NaN,2023,petrol
4,Royal,Royal Enfield Continental GT 650cc,"3,40,000",mumbai,650cc,2020,petrol
...,...,...,...,...,...,...,...
283,Royal,Royal Enfield Continental GT 650cc,"3,05,710",mumbai,650cc,2020,petrol
284,Harley-Davidson,Harley-Davidson XG750 750cc,"4,65,500",hyderabad,750cc,2018,petrol
285,Kawasaki,Kawasaki Ninja 650cc,"4,92,550",mumbai,650cc,2020,petrol
286,Kawasaki,Kawasaki Ninja 300 ABS,"3,10,900",mumbai,300 ABS,2019,petrol
287,Royal,Royal Enfield Interceptor 650cc,"2,43,430",mumbai,650cc,2019,petrol